
section{
    
    background-image:url('img/3071357.jpg'); 
	background-size:cover;
    height:800px;
    width: 800px;
    margin-left: 300px;

}




header{
    display: flex;
   

}

h1{
    font-size: 80px;
   margin-left: 800px;
   
 
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 800px;
   
}
.submit{
    background-color: darkseagreen;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 120px;
    font-size: 15px;
}


label{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 290px;
}

.label{
    margin-right: 313px;
}

input{
    height: 15px;
    width: 350px;
    border: 1px solid rgb(9, 223, 141);
    border-radius: 2px;
   outline: none;

}